__pycache__
.vscode
data

quant_engine.py
evaluate_quant.py
diagose.py

extractor_mcu/mcu_*
test/*.png
test/plot*
test/*.log
test/old
test/*_mcus

test/dscnn/*.png
test/mbv2/*.png
test/mcunet/*.png
test/mnasnet_05/*.png
test/proxylessnas/*.png
test/*.pdf